@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.bg-hero {
  background-image: url('../../public/event-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

